@import "tailwindcss";

@theme {
  --color-primary: #1a3280;
}

@page {
  size: A4;
  margin: 5mm 5mm 25mm;
  padding: 0 0 4mm;
  background-color: #f5f4ef;
  @bottom-left {
    background-color: #0a8a97;
    content: element(logoFooter);
  }
  @bottom-center {
    font-family: monospace;
    color: #f3f3f3;
    background-color: #0a8a97;
    content: counter(page) "/" counter(pages);
  }
  @bottom-right {
    background-color: #0a8a97;
    content: element(footer);
  }
  @bottom-left-corner {
    content: "";
    background-color: #0a8a97;
  }
  @bottom-right-corner {
    content: "";
    background-color: #0a8a97;
  }
}

.logo-footer {
  position: running(logoFooter);
}

.footer {
  color: #f3f3f3;
  width: 160px;
  position: running(footer);
  text-align: start;
  margin-left: auto;
  font-family: sans-serif;
}

.footer > h3 {
  margin: 0;
  font-size: 1rem;
}

.footer > p {
  margin: 0;
  font-size: 0.95rem;
}

.logo-footer > img {
  width: 200px;
}

body {
  font-family: "Geist", sans-serif;
  color: #1a3280;
  break-inside: auto;
  page-break-inside: auto;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 18px;
  height: 18px;

  border: 1px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  background-color: #1a3280;
  border-color: #1a3280;
}
