body {
  font-family: "Geist", sans-serif;
  color: #1a3280;
  break-inside: auto;
  page-break-inside: auto;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 18px;
  height: 18px;

  border: 1px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
input[type="radio"]:checked {
  background-color: #1a3280;
  border-color: #1a3280;
}
